<style>
    body {
        background-image: url('../assets/FondoLogin.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .tarjeta{
        border-radius: 15px;
        width:max-content;
        display: flex;
        align-items: center;
    }

    .inputL{
        width: 440px
    }

</style>


<div class="container mt-4 mb-4">
    <div class="card text-center tarjeta offset-3">
        <h2 class="card-title" style="margin: 10px; font-family: Arial Rounded MT;">Iniciar sesión</h2>
        <div class="card-body">
            <svg class="bd-placeholder-img rounded-circle mb-3" width="180" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid meet" focusable="false">
                <defs>
                    <pattern id="bebidaImagen" width="100%" height="100%">
                        <image x="0" y="0" width="100%" xlink:href="../assets/Usuario.png" />
                    </pattern>
                </defs>
                <rect width="100%" height="100%" fill="url(#bebidaImagen)" />
            </svg>


                <div class="input-group mb-3">
                    <span class="input-group-text"> <i class="fa-regular fa-envelope"></i> </span>
                    <div class="form-floating inputL">
                        <input type="email" class="form-control" id="floatingInputGroup1" placeholder="example@email.com">
                        <label for="floatingInputGroup1">Correo electrónico</label>
                    </div>
                </div>



                <div class="input-group mb-4">
                    <span class="input-group-text"> <i class="fa-solid fa-asterisk"></i> </span>
                    <div class="form-floating inputL">
                        <input type="password" class="form-control" id="floatingInputGroup1" placeholder="password123">
                        <label for="floatingInputGroup1">Contraseña</label>
                    </div>
                </div>

                <a href="#" class="btn btn-primary btn-lg" style="width: 470px;">Ingresar</a>



        </div>
    </div>
    <br />

    <div class="offset-4">
        <p>¿Primera vez aquí? 
            <a class="link-body-emphasis"  >Registrate ahora</a>
        </p>
    </div>
</div>


